<footer class="footer_alex">
  <div class="footertext_alex">
    All content copyright Alex Huang &copy; 2016 &bull; All rights reserved.
  </div>
<div class="footertext_alex">
  Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>
</div>
</footer>